@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body{
    background-color: #dde7e6;
    background-image: url("images/back.avif");
    background-repeat: no-repeat;
    background-size: cover;

}
header{
    height: 4px;
    background-color: transparent;
    position: sticky;
    z-index: 1;
    top: 0px;
    
}
input[type="text"] {
    position: absolute;
    top: 0px;
    left: 79%;
    width:20%;
    padding: 8px; 
    border: none; 
    border-radius: 4px; 
    text-align: left;
  }
.para{
    text-align: center;
    color: white;
    position: absolute;
    top: 160px;
    left: 250px;
    right: 250px;
}
.button{
    border-radius: 30px;
    background-color: white;
    border-color: white;
}
.table{
    position: absolute;
    top: 50px;
    left: 84%;
  }
.table2{
    position: relative;
    top: -99px;
}
.searchBut{
    padding-top: 4px;
    padding-bottom: 1px;
    width: 60px;
    border: none; /* Remove border */
    background-color: #a4adbb; /* Green background color */
    border-radius: 4px; /* Add border radius for rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
    position: absolute;
    top: 0px;
    left: 95.5%;
}
.search{
    width: 50%;
    height: 50%;
   
}
.heading_name{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
    text-align: center;
    position: relative;
    top: 12px;
    transform: translateX(-50%);
    left: 50%;
}